<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="{{ "css/theme.css" | relURL }}">
</head>
<body>
  <div class="container">
    {{ partial "header.html" . }}
    {{ block "main" . }}{{ end }}
    {{ partial "footer.html" . }}
  </div>
</body>
</html>
